site_name: 透明的心
site_description: 基于 Markdown 的个人技术博客（GitHub Pages）
site_author: wq0713
site_url: https://wq0713.github.io/

theme:
  name: material
  language: zh
  custom_dir: overrides
  logo: assets/logo.ico
  favicon: assets/favicon.ico
  palette:
    - scheme: slate
      primary: blue grey
      accent: cyan
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight

plugins:
  - search:
      lang:
        - zh
        - en
  - awesome-pages

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
