:root {
  --md-default-bg-color: #111214;
  --md-code-bg-color: #1b1d20;
  --wsn-nav-icon-color: rgba(255, 255, 255, 0.68);
}

.md-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.md-sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.md-tabs {
  background: transparent;
  box-shadow: none;
}

.md-header__inner .md-tabs {
  flex: 1;
  height: var(--md-header-height);
  display: flex;
  align-items: center;
  min-width: 0;
  margin-left: 0.6rem;
}

.md-tabs__inner {
  padding: 0;
  margin: 0;
}

.md-tabs__link {
  opacity: 0.95;
}

.md-tabs__link--active {
  opacity: 1;
}

.md-header__inner .md-tabs__list {
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

@media screen and (max-width: 60em) {
  .md-tabs {
    display: none;
  }
}

.md-nav__item--section > .md-nav__link::before,
.md-nav__item:not(.md-nav__item--section) > .md-nav__link::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.45rem;
  background-color: var(--wsn-nav-icon-color);
  vertical-align: -0.2rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.md-nav__item--section > .md-nav__link::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 4l2 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 4l2 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6z'/%3E%3C/svg%3E");
}

.md-nav__item:not(.md-nav__item--section) > .md-nav__link::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm0 2.5L19.5 10H14V4.5z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zm0 2.5L19.5 10H14V4.5z'/%3E%3C/svg%3E");
}

@media screen and (min-width: 60em) {
  .md-sidebar--primary .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list {
    display: none;
  }
}
