:root {
  --md-default-bg-color: #111214;
  --md-code-bg-color: #1b1d20;
}

.md-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.md-sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.md-tabs {
  background: transparent;
  box-shadow: none;
}

.md-header__inner .md-tabs {
  flex: 1;
  height: var(--md-header-height);
  display: flex;
  align-items: center;
  min-width: 0;
  margin-left: 0.6rem;
}

.md-tabs__inner {
  padding: 0;
  margin: 0;
}

.md-tabs__link {
  opacity: 0.95;
}

.md-tabs__link--active {
  opacity: 1;
}

.md-header__inner .md-tabs__list {
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

@media screen and (max-width: 60em) {
  .md-tabs {
    display: none;
  }
}
